# Ignore encrypted settings and key
settings.txt
settings.key

# Byte-compiled / optimized files
__pycache__/
*.pyc
*.DS_Store
.vscode/

# Virtual environments
venv/
.venv/
env/
.npm/
node_modules/
.claude/settings.local.json
.coverage
.gitignore
actual-data/
.nbg-ynab-export/ynab_api.log
actual-data/Nikolai-s-Budget-0275a89/cache.sqlite
actual-data/Nikolai-s-Budget-0275a89/db.sqlite
